<div class="main-content" *ngIf="!isEditMode && !isAddMode">
    <table class="table-persons">
        <thead>
            <tr>
                <!--Иконка -->
                <th></th>

                <th>Имя</th>
                <th>Фамилия</th>

                <!--Кнопка редактирования -->
                <th></th>

                <!--Кнопка удаления -->
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persons">
                <td></td>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td>
                    <button (click)="editPerson(person)"> Ред.</button></td>
                <td><button (click)="deletePerson(person)">Удалить</button></td>
            </tr>
        </tbody>
    </table>

    <button (click)="addPerson()">Добавить сотрудника</button>

</div>

<app-edit-person [person]=selectedPerson *ngIf="isEditMode" (onSubmit)="editPersonCompleted()"></app-edit-person>
<app-add-person *ngIf="isAddMode" (onSubmit)="addPersonCompleted()"></app-add-person>