<div>
    <table class="table-persons">
        <thead>
            <tr>
                <th class="hidden">Id</th>
                <!--Иконка -->
                <th></th>

                <th>Имя</th>
                <th>Фамилия</th>

                <!--Кнопка редактирования -->
                <th></th>

                <!--Кнопка удаления -->
                <th></th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let person of persons">
                <td class="hidden">{{person.id}}</td>
                <td></td>
                <td>{{person.firstName}}</td>
                <td>{{person.lastName}}</td>
                <td>
                    <button (click)="editPerson(person)"> Ред.</button></td>
                <td><button (click)="deletePerson(person)">Удалить</button></td>
            </tr>
        </tbody>
    </table>
</div>